.announcement_container{
    font-size: 13px;
    margin-top: 5px;
    border-top: 2px solid #e7ebf0;
    border-radius: 5px;
}

#first{
   border-top: none;
}

.price{
    color: #ff3333;
    margin-top:5px;
}

.username{
    margin-top:5px;
    color: #2eb8b8;
}

.info_announcement{
    text-align: center;
}

.image_announcement img{
    height: 100px;
    width: 100px;
}

.announcement_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}


