#title{
    text-align: center;
    color: #5682a3;
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 1000px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

#container_p{
    background-color: #fbfbfb;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}


.custom-file label{
    color: gray;
}


.input-announce{
    margin-top: 10px;
}

#btn_container{
    margin-top: 30px;
    text-align: right;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#inner_container{
    display: flex;
    justify-content: space-around;
    background-color: #fafafa;
    margin: 8px;
}

#carousel_announce{
    width:60%;
    padding:16px;
}

#profile_container{
    margin-right: 8px;
    width: 30%;
    text-align: center;
    background-color: #fafafa;
    padding: 8px;

}

#title_announce{
    margin:8px;
    border-radius: 5px;
    font-size: 24px;
    background-color: #f2f2f2;
    color:#ff3333;
    text-align: center;
    padding: 8px;
}

#information_container{
    padding:16px;
    margin:8px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

#prezzo{
    color:#ff3333;
    font-size: 20px;
    margin-bottom: 8px;
}

#btn_container{
    text-align: right;
    margin-top:10px;
}

#button_contact{
    background-color: #ff3333;
}


#info_announce{
    margin-bottom: 10px;
}

#descrizione{
    overflow-wrap: break-word;
}

.data{
    color: #2eb8b8;
}

.field_profile{
    margin: 30px;
}

#btn_confirm, #btn_preview{
    background-color: #5682a3;
    border-color: #5682a3;
}

.warning{
    text-align: center;
    font-size: 20px;
}

