#container{
    max-width: 1000px;
    min-height: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#inner_container{
    display: flex;
    align-items: center;
}

#img_error{
    height: 400px;
    width: 300px;
}

#error_title{
    font-size: 50px;  
}

#text_container{
    padding: 20px;
    text-align: center;
}