.footer{
    margin: auto;
    padding: 16px;
    max-width: 1000px;
    min-width: 600px;
    background-color:  #5682a3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

dd a{
    color: white;
}
dd a:hover{
    color:white;
}

#logo{
    align-self: flex-end;
    display: flex;
    align-items: center;
    color: white;
}

#logo img{
    width: 64px;
    height: 64px;
    padding: 8px;
}

.footer_component{
    align-self: flex-start;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;
}
.title_footer{
    font-size: 16px;
}
