.menu_bar{
    margin:auto;
    padding: 8px;
    max-width: 1000px;
    min-width: 600px;
    height: 60px;
    background-color:  #5682a3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left_menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

#name_site{
    font-size: 30px;
    color: white;
    margin-left: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;

}

#right_menu button{
    background-color: #5682a3;
    border-color: #5682a3;
}

#right_menu button:focus{
    border-color:white;
    background-color: white;
    box-shadow: none;   
    color:#5682a3;
}

#right_menu button:hover{
    border-color:white;
    background-color: white;
    box-shadow: none;   
    color:#5682a3;
}

#right_menu form {
    margin-top: auto;
    margin-bottom: auto;
}

#right_menu{
    display:flex;
    align-items: center;
}

.left_menu:hover{
    cursor: pointer;
}

.menu_bar img{
    width: 64px;
    height: 64px;
    margin-left: 8px;
    padding:8px;
}

#left_menu{
    width: 500px;
}

#left_menu button{
    background-color: white;
    color: red;
}

.dropdown-menu{
    padding: 10px !important;
}
.profile_menu{
    margin-bottom: 5px;
}

.profile_menu a{
    color: #5682a3;
    text-decoration: none;
}
.profile_menu a:hover{
    text-decoration: underline;
}