#container{
    background-color: white;
    max-width: 1000px;
    margin: auto;
}

#container_column{
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#column1{
    padding: 8px;
    width: 40%;
    font-size: 14px;
    overflow: hidden;
}

.hint_top, .hint_top a{
    color: #5682a3;
    font-size: 18px;
    padding: 8px;
    text-align: center;
    background-color: #fafafa;
}
.card img{
    height: 150px;
    width: 150px;
    margin: auto;
    padding: 10px;
}

#regions_container{
    text-align: center;
    border: 2px solid #fafafa;
}

td{
    padding: 10px;
}

table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#column2{ 
    text-align: center;
    padding: 8px;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#categories{
    padding: 16px;
    margin-bottom: 16px;
    border: 2px solid #fafafa;
}

#recent{
    min-height: 250px;
    margin-bottom: 16px;
}

.recent{
    text-align: center;
    min-height: 250px;
    display: flex;
    flex-grow: 1;
    flex: 1;
    justify-content: center;
}

.card{
    width: 33%;
    flex-grow: 1;
}

.category_button{
    background-color: white;
    margin-top: 8px;
    border:1px solid gray;
    border-radius: 5px;
    width: 100px;
    display: inline-block;
    text-align: center;
}

.category_button:hover{
    background-color: #5682a3;
    color:white;
    cursor: pointer;
}

.category_button img{
    padding: 4px;
    height: 60px;
    width: 60px;
}

.title_category{
    display: block;
}

#regions_container{
    padding:8px;
}

#last_region {
    padding: 10px;
}


.television img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 120px;
}

#right_scroll, #left_scroll{
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: auto;
    margin-bottom: auto;
}

#recent_container{
    display:flex;
    flex-direction: column;
    min-height: 220px;
    word-break: break-all;
}

.price{
    color: #ff3333;
}


#regions_container a{
    color: #5682a3;
    text-decoration: none;
}

#regions_container a:hover{
    text-decoration: underline;
}

.recent_container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 200px;
    width: 25%;
    border: 1px solid #fafafa;
}

.recent_container img{
    max-height: 150px;
    max-width: 150px;
    margin: auto;
}

.prezzo{
    color:#5682a3;
}

.carousel-control-prev-icon {
    background-image: url('../img/left.ico');
}

.carousel-control-next-icon {
    background-image: url('../img/right.ico');
}

.title_announce{
    word-wrap: break-word;
}
