#container{
    max-width: 1000px;
    margin: auto;
    background-color: white;
}

.title{
    color: #5682a3;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

p{
    font-size: 18px;
    line-height: 1.8;
}

.inner_container{
    padding: 8px;
}

#grid{
    display: flex;
    justify-content: space-around;
}

.mail{
    text-align: center;
    color: gray;
}

#column1{
    width: 50%;
}