#inner_container{
    display: flex;
    justify-content: space-around;
    margin: 8px;
    
}

#container{
    width: 1000px;
    margin: auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
}


.carousel_image img{
    height: 450px;
}


.carousel-control-prev-icon {
    background-image: url('../img/left.ico');
    margin-left: -100px;
}

.carousel-control-next-icon {
    background-image: url('../img/right.ico');
    margin-right: -100px;
}


#carousel_announce{
    width:60%;
    padding:16px;
}

#profile_container{
    margin-right: 8px;
    width: 30%;
    text-align: center;
    padding: 8px;

}

#title_announce{
    margin:8px;
    border: 2px solid #e7ebf0;
    border-radius: 5px;
    font-size: 24px;
    color:#5682a3;
    text-align: center;
    padding: 8px;
}

#information_container{
    border: 2px solid #e7ebf0;
    padding:16px;
    margin:8px;
    border-radius: 5px;
}

#prezzo{
    color:#5682a3;
    font-size: 20px;
    margin-bottom: 8px;
}

#btn_container{
    text-align: right;
    margin-top:10px;
}

#info_announce{
    margin-bottom: 10px;
}

#descrizione{
    overflow-wrap: break-word;
}


.field_profile{
    margin: 30px;
    color: #5682a3;
    font-weight: bold;
}

.data{
    color: black;
    font-weight: normal;
}

#img_profile{
    max-height: 100%;
    max-width: 100%;
    padding: 8px;
}
#img_container{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 150px;
}
#inner_container{
    display: flex;
}


#info_profile{
    font-size: 18px;
    border: 3px solid #f2f2f2;
    border-radius: 10px;
}

#profile_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.field_profile{
    overflow-wrap: break-word;
}


