body{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #5682a3;
    font-family: "Comic Sans MS", cursive, sans-serif !important;
}

#username_field, #password_field{
    margin-top: 10px;
}

input + div{
    color: white;
}

h6{
    margin-top: 10px;
    margin-left: 10px;
}


#form_container{
    width: 500px;
    min-height: 400px;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}


#title{
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

#title img{
    margin-right: 10px;
    width: 64px;
    height: 64px;
}
#btn_container{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#register_link{
    text-align: center;
}
