<div id="container">
    <div id ='inner_container'>
        <div>
            <img id="img_error" src="../View/error/Error.jpg" alt="image error">
        </div>
        <div id="text_container">
            <div id="error_title">400 Bad Request</div>
            <div>La tua richiesta ha generato un errore. Ritorna alla <a href="index.php">Homepage</a></div>
        </div>
    </div>
</div>