<div id="container">
    <div id ='inner_container'>
        <div>
            <img id="img_error" src="../View/error/Error.jpg" alt="image error">
        </div>
        <div id="text_container">
            <div id="error_title">404 Not Found</div>
            <div>La pagina richiesta non è stata trovata. Torna alla <a href="index.php">Homepage</a></div>
        </div>
    </div>
</div>