<div class='inner_container'>
    <div class='title'> Chi siamo </div>
    <p>Man a' Deliver è l’azienda n. 1 in Italia per comprare e vendere. Siamo nati a Milano nel 2007 e oggi, nel nostro Paese, ci posizioniamo stabilmente tra i primi 10 brand* online più visitati e come primo servizio di annunci su web (fonte: Media Audiweb Total Digital Audience 2016).

        Da sempre il nostro obiettivo è offrire il servizio online di compravendita più semplice, veloce e sicuro d’Italia. Con Man a' Deliver, persone alla prima esperienza e utenti professionali riescono a fare ottimi affari.

        Dobbiamo i grandi risultati ottenuti ad una piattaforma intuitiva ed efficace e a un’offerta ampia e di qualità, con contenuti controllati per una maggiore sicurezza. E poi, certo, a una squadra instancabile fatta di persone che lavorano, con passione, per le persone.

        * Ranking Total Digital Audience Daily di Audiweb Database</p>

    <div id='grid'>
        <div id='column1'>
            <div class='title'>Lavora con Noi</div>
            <p class='content'>
                Chi lavora nel Gruppo Men A' Deliver vive un ambiente dinamico, organizzato ed in costante crescita. Ogni giorno è diverso dal precedente ed ogni giorno costruiamo la soddisfazione dei nostri Clienti ed il nostro futuro.
                Per noi il Cliente è la nostra missione. Il Gruppo Men A' Deliver crede nel valore e nel potenziale umano.
            </p>
            <p class='mail'>
                lavora_con_noi@menADelivery.it
            </p>
        </div>
        <div id='column2'>
            <div class='title'>Contattaci</div>
            <p>Per qualsiasi dubbio non esitare a contattarci!</p>
            <p class='mail'>
                supporto@menADelivery.it
            </p>
        </div>
    </div>
</div>
