
<div class = "menu_bar">
    <div class="left_menu">
        <img src="../img/house.ico" alt="Home_page">
        <span id="name_site">Men A'Deliver</span>
    </div>
    <div id="right_menu">
        <form action="create_announcement.php">
            <button id="button_announcement" type="submit" class="btn btn-secondary">Crea Annuncio</button>
        </form>
        <div class="btn-group" role="group">
            <div class="dropdown">

                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profilo
                </button>
                <div class="dropdown-menu">
                    <div class='profile_menu'><a href="my_announcements.php">I miei Annunci</a></div>
                    <div class='profile_menu'><a href="logout.php">Logout</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="container">

