<div class='inner_container'>
    <div class='title'> Condizioni Generali Del Servizio </div>
    <p>Men A' Deliver S.r.l. società di servizi informatici e telematici con sede legale in Via B. Crespi 19 (MI) Italia, mette a disposizione degli utenti che intendano avvalersene un servizio (da ora in poi il "Servizio Base" e/o "Servizio") web based che consente di pubblicare e consultare annunci e inserzioni di soggetti privati o professionali che intendano alienare o acquistare beni o prestare e ricevere servizi. Il Servizio consente altresì agli utenti inserzionisti ed agli utenti interessati a quanto pubblicato di entrare in contatto tra di loro.</p>
    <div class='title'>Termini per l'utilizzo del Servizio</div>
    <p>L’utilizzo del Servizio è consentito solo ad utenti maggiorenni secondo la legge italiana (maggiori di anni 18). L’eventuale utilizzo del Servizio è concesso altresì agli utenti che abbiano compiuto sedici anni  esclusivamente a valle della  autorizzazione e comunque sotto la supervisione dei genitori o di chi ne esercita la potestà o la tutela, che assumeranno quindi ogni responsabilità dell’operato del minore nei confronti di Men A' Deliver.it S.r.l. e dei terzi ad ogni titolo coinvolti.

        L'utilizzo del Servizio Base consente la libera consultazione degli annunci e la pubblicazione di inserzioni e la creazione di utenze finalizzate all'utilizzo del servizio medesimo. Talune funzionalità specifiche del Servizio, l'inserzione in specifiche categorie merceologiche e le inserzioni ulteriori rispetto alle soglie fissate per talune categorie potranno essere messe a disposizione solamente a pagamento così come da specifiche condizioni di contratto relative ai servizi medesimi.

        Le relazioni intrattenute tra gli utenti del Servizio, incluso l'acquisto, lo scambio di informazioni, anche per il tramite del form di risposta all’annuncio, la consegna o il pagamento di beni o servizi, avvengono esclusivamente tra utenti senza che Men A' Deliver.it S.r.l. sia parte della relazione. L'utenza si impegna, altresì, a non fare utilizzo improprio dei contatti presenti a qualunque titolo sulla piattaforma di Men A' Deliver.it. A titolo esemplificativo ma non esaustivo è vietato l'invio di pubblicità, materiale promozionale, o qualsiasi altra forma di sollecitazione non autorizzata o non richiesta tramite e-mail o con qualsiasi altro metodo di contatto.

        Gli utenti manterranno la titolarità di tutti diritti di proprietà relativi a video, fotografie, fermo immagini, audio o altro materiale (di seguito, le “Riproduzioni”) che Men A' Deliver.it ha consentito agli stessi di pubblicare sul proprio sito. Fermo restando quanto precede, l’utente concede a Men A' Deliver.it una licenza non esclusiva, gratuita, perpetua, trasferibile, irrevocabile e senza limiti di territorio, per utilizzare (anche in combinazione con altri materiali audio e/o video e/o fotografici) e, dunque, fissare, all’interno del Sito e/o su ogni altro mezzo (sia esso digitale, elettronico o cartaceo), riprodurre, modificare, adattare, tradurre, distribuire, pubblicare, visualizzare, riprodurre in pubblico le Riproduzioni dell’utente, impegnandosi peraltro a non opporsi alla pubblicazione, utilizzo, modifica, cancellazione e sfruttamento delle Riproduzioni da parte di Men A' Deliver.it.

        Con l’utilizzo del Servizio, gli utenti si assumono l’esclusiva responsabilità circa il diritto di utilizzo delle Riproduzioni pubblicate dagli stessi sul sito, manlevando e tenendo indenne Men A' Deliver.it da qualsiasi pretesa e/o richiesta di risarcimento formulata da soggetti terzi a fronte della violazione dei diritti di quest’ultimi.

        Al momento della registrazione sul sito da parte dell’utente, quest’ultimo sarà tenuto a fornire i propri dati anagrafici reali senza ricorrere all'utilizzo di indirizzi email temporanei o alias (ovvero indirizzi associati al proprio indirizzo email dal quale però non è possibile inviare email ma solo riceverle). Resta espressamente inteso che, in caso di mancata osservanza delle disposizioni della presente clausola da parte dell’utente, Men A' Deliver.it sarà considerata liberata dell’onere di fornire taluni servizi di assistenza allo stesso, essendo questa impossibilitata alla verifica della corrispondenza utente-email.</p>

    <div class='title'>Responsabilità del servizio</div>
    <p>L'utente è totalmente ed esclusivamente responsabile dell'uso del Servizio (da intendersi espressamente con riguardo alle funzioni di pubblicazione, di consultazione, di gestione delle inserzioni e di contatto tra utenti) ed è pertanto l'unico garante e responsabile dei beni e dei servizi offerti per il tramite del Servizio nonchè della correttezza, completezza e liceità delle inserzioni e del proprio comportamento nell'ambito del contatto tra utenti. L'utente garantisce la disponibilità e/o la titolarità del bene/servizio oggetto delle inserzioni medesime. L'utente garantisce altresì che i propri annunci non violano alcun diritto d'autore né diritto di proprietà industriale né altro diritto di terzi. In caso di contestazione da parte di terzi riguardo a qualsiasi annuncio o condotta ad esso legata, l'utente se ne assume la piena responsabilità e si impegna a tenere manlevata e indenne Men A' Deliver S.r.l. da qualsiasi danno, perdita o spesa. L'utente si impegna ad utilizzare il form di risposta all’annuncio al solo scopo di prendere contatto e scambiare informazioni con gli altri utenti relativamente agli annunci, utilizzando un linguaggio consono, nel rispetto della legge, dell’etica e della netiquitte. L'utente, inoltre, si assume ogni responsabilità per eventuali danni che possano derivare al suo sistema informatico dall'uso del Servizio.</p>

    <div class='title'><a name='support'>Segnalazione dei problemi e Supporto</a></div>
    <p>Qualora riscontraste qualsiasi problema, non esistate a rivolgervi al nostro supporto. Ci impegnamo a rispondere entro 6 ore dall'invio della mail. </p>
    <p class='mail'>
        supporto@menADelivery.it
    </p>
</div>
