<div id='container'>
    <div id='title'><img src="../img/house.ico" alt="icona sito"> Men A' Deliver</div>
    <div id="form_container">
        <div>Registrati</div>
        <form id = "register_form">
            <input id = "name_field" type="text" class="form-control" placeholder="Nome">
            <div>feedback</div>
            <input id = "surname_field" type="text" class="form-control" placeholder="Cognome">
            <div>feedback</div>
            <input id = "username_field" type="text" class="form-control" placeholder="Username" data-toggle="popover" data-content="L'username deve contenere almeno 2 lettere e/o numeri">
            <div>feedback</div>
            <input id = "email_field" type = "text" placeholder="Email" class="form-control" data-toggle="popover" data-content="La mail deve essere del formato characters@characters.domain">      
            <div>feedback</div>
            <input id = "number_field" type='number' placeholder="Telefono (opzionale)" class="form-control">      
            <div>feedback</div>
            <input id = "password_field" type = "password" placeholder="Password" class="form-control" data-toggle="popover" data-content="La password deve contenere almeno 8 caratteri di cui almeno 1 lettera maiuscola e 1 numero.">      
            <div>feedback</div>
            <input id = "passwordconfirm_field" type = "password" placeholder="Conferma password" class="form-control">      
            <div>feedback</div>
            <div id = "btn_container">
                <button id ="register_button" type="button" class="btn btn-secondary btn-lg btn-block">Registrati</button>
            </div>
        </form>
    </div>
</div>